.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-shadow: 0 1.5px 0px #ebe9ee;
}

.logo {
  width: 80px;
  height: 38.46px;
}

.accountWrap {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.account {
  display: block;
  font-size: 16px;
  margin-right: 10px;
}

.accountWrap :global(.material-icons-round) {
  font-size: 30px;
}

.rowBody {
  flex: 1;
}

.campaigns {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 78.45px);
  overflow-y: scroll;
}

.title {
  color: var(--purple);
  font-family: Gilroy;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 5px;
}

.description {
  color: var(--lightPurple);
  font-size: 16px;
  display: block;
  margin-bottom: 40px;
}

.searchWrap {
  display: flex;
  margin-bottom: 35px;
}

.newCampaign {
  height: 45px;
  margin-left: 20px;
  background-color: var(--pink);
  border-color: var(--pink);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.newCampaign :global(.material-icons-round) {
  font-size: 18px;
  margin-left: 10px;
}

.input {
  background-color: var(--background);
  color: var(--lightPurple);
  border: none;
  height: 45px;
}

/* .input:focus,
.input:active {
  outline: none;
  border: none;
} */

.input input {
  background-color: transparent;
}

.input :global(.material-icons-round) {
  margin: 0 5px;
}

.newCampaign:hover,
.newCampaign:focus {
  background-color: rgba(213, 54, 120, 0.8);
  border-color: rgba(213, 54, 120, 0.8);
}

.loader {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.emptyTitle {
  font-family: Gilroy;
  font-weight: 700;
  color: var(--purple);
}

.emptyDescription {
  color: var(--lightPurple);
}

.emptyLoader {
  background-color: var(--background);
}

.emtpyImg {
  width: 180px;
  margin-bottom: 5px;
}
